* {
    padding: 0;
    margin: 0;
}

footer {
    position:relative;
    bottom: 0;
}

.footer {
    background-color:#56801B;
    box-sizing: border-box;
    width:100%;
    text-align: left;
    font:caption 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align:top;
}

@media (max-height:100%) {
    footer {
        position: static;
    }
}

.footer .footer-left {
    width: 30%;
    }

    .footer h3 {
        color:#f5f5f5;
        margin: 0;
        padding-bottom: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    .footer .footer-left img {
        width:10%;
        vertical-align: middle;
    }

    .footer .footer-link1,
    .footer .footer-link2,
    .footer .footer-link3,
    .footer .footer-link4,
    .footer .footer-link5,
    .footer .footer-link6,
    .footer .footer-link7 {
        color:#d8dfe9;
        font-size:14px;
        font-weight:normal;
        margin:0;
        line-height: 20px;
        text-align: left;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }


    .footer .footer-center {
        width:35%;        
    }

       .footer .footer-center img {
        width:10%;
        vertical-align: middle;
    }

    .footer .ikon-wa {
        color:#d8dfe9;
        font-size:14px;
        font-weight:normal;
        margin:0;
        line-height: 20px;
        text-align: left;
        border-image-width: 20px;
    }

    .footer .footer-center i {    
        color :#d8dfe9;
        font-size: 25px;
        width:38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin:10px 15px;
        vertical-align: middle;  
    }


    .footer .footer-center p {
        display: inline-block;
        color: #d8dfe9;
        vertical-align: middle;
        margin:0px;        
    }

    .footer .footer-center p span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
    }

    .footer .footer-center p a {
        color:rgb(22, 255, 177);
        text-decoration: none;
        color: #d8dfe9;
    }

    .footer .footer-right {
        width:30%;
        
    }

    .footer .footer-about {
        line-height: 20px;
        color:#cddae6;
        font-size: 14px;
        font-weight: normal;
        margin:0px;     
    }

    .footer .footer-right img {
        width:10%;
        vertical-align: middle;
    }

    .footer .ikon-sosmed {
        color:#d8dfe9;
        font-size:14px;
        font-weight:normal;
        margin:0;
        line-height: 20px;
        text-align:left;
        border-image-width: 20px;
    }

    .footer .footer-center span {
        display:block;
        color:#ffffff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    @media (max-width) 100% {

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: block;
    width:100%;
    margin-bottom: 40px;
    text-align: left;
}

.footer .footer-center i {
    margin-left: 0px;
}